* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.parent-div {
    /* border: 3px solid black; */
    display: flex;

}

.left-div {
    background-color: #d9d9d9;
    height: 400px;  
    width: 50%;  
    padding: 20px;

}

.right-div {
    background: url(./img/image1.jpg);
    background-size: cover;
    background-position: bottom left;
    height: 400px;
    width: 50%;
    position: relative;
    display: flex;
}
.smart-line {
    background-color: #FF6347;
    height: 16px;
    width: 226px;
}

    span {
    color: #FF6347;
}

.header-logo-text {
    margin-bottom: 30px;
}

.header-heading-text {
    margin-bottom: 30px;
}

.header-long-text {
    margin-bottom: 20px;
}

.link-holder {
    display: flex;
    /* border: 3px solid black; */
    justify-content: space-evenly;
    color: #ffff;
    padding: 20px 0;
    width: 100%;
    z-index: 3;
}

/* WOrking on Background overlay to work on the background picture */
.bg-overlay {
    width: 100%;
    height: 100%;
    background: rgba(225, 99, 71, 0.2);
    position: absolute;
    top: 0;
    left: 0;
}

.second-section {
    /* border: 3px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.secondsection-left {
    width: 300px;
    height: 400px;
    background: #d9d9d9;
    /* margin-right: 10px; */
    padding: 40px 25px;
    text-align: center;
}

.secondsection-right {
    width: 320px;
    height: 460px;
    background: orangered;
    margin-left: 10px;
}

p {
    margin: 20px 0;
    text-align: left;
}

img {
    width: 100%;
    height: 100%;
}

.Third-section {
    display: flex;
    background: #d9d9d9;
    justify-content: center;
    padding: 50px 0;
}

.third-section-left,
.third-section-right {
        width: 300px;
        height: 430px;
}

.third-section-left {
    background: skyblue;
}

.third-section-right {
    padding: 50px 65px;
    background: #FF6347;
}

.footer {
    background: #FF6347;
    padding: 20px 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icon-holder {
    color: white;
}

/* Written Media Querry */
@media screen and (max-width: 900px){
    .right-div,
    .left-div {
        height: 530px;
    }

    .left-div {
        width: 60%;
    }

    .left-div {
        width: 40%;
    }

    .header-heading-text {
        font-size: 30px;
    }

    p {
        font-size: 16px;
    }

    .smart-line {
        width: 200px;
    }

    .link-holder {
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 25px;
        padding-left: 40px;
        /* align-items: center; */
    }

    .link-holder h4 {
        margin-bottom: 20px;
    }

    /* Working on the Second section */
    .second-section {
        flex-direction: column;
    }

    .secondsection-right {
        margin-left: 0;
        margin-top: 30px;
    }

    /* WOrking on the Third Section */
    .Third-section {
        flex-direction: column-reverse;
        align-items: center;
    }

    .third-section-right {
        margin-bottom: 30px;
    }

    /* Working on Footer */
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer p {
        text-align: center;
    }
}
 

 

