* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.parent-div {
    /* border: 3px solid black; */
    display: flex;

}

.left-div {
    background-color: #d9d9d9;
    height: 1600px;  
    width: 50%;  
    padding: 20px;

}

.right-div {
    background-color: tomato;
    height: 1600px;
    width: 50%;
}
.smart-line {
    background-color: #FF6347;
    height: 16px;
    width: 226px;
}

    span {
    color: #FF6347;
}

.header-logo-text {
    margin-bottom: 30px;
}

.header-heading-text {
    margin-bottom: 30px;
}

.header-long-text {
    margin-bottom: 20px;
}